*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat-Regular.ttf);
}

:root{
    --color-primary: #3CC3AD;
    --color-main-text: #3b3b3b;
    --color-alt-text: #5c5c5c;
    --color-text-dead: #e0e0e0;
    --color-bg: #ffffff;

    --font-title: 'Montserrat', sans-serif;
    --font-text: 'Inter', sans-serif;
    --font-size-base: clamp(1rem, 2vw, 1.5rem);
    --font-size-large: clamp(1.2rem, 3vw, 2rem);
    --font-size-xl: clamp(2rem, 5vw, 3.5rem);
    --font-size-small: clamp(0.85rem, 1.5vw, 1rem);

    --icon-base: clamp(2rem, 4vw, 3.5rem);
    --menu-size: 1.5rem;
}
body{
    font-family: var(--font-text);
}
h1, h2, h3{
    font-family: var(--font-title);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.section{
    display: none;
}
.section.active{
    display: block;
}
.layout{
    display: flex;
    min-height: 100vh;
}
.menu-open{
    position:fixed;
    top: 16px;
    left: 16px;
    background: var(--color-primary);
    border: none;
    border-radius: 8px;
    padding: 8px 8px;
    color: white;
    font-size: var(--menu-size);
    z-index: 100;
}
.menu-close{
    align-self: flex-end;
    background: none;
    border: none;
    color: white;
    font-size: var(--menu-size);
    padding-top: 0.6rem;
    position: absolute;
    top: 16px;
    right: 16px;
}
.sidebar{
    display: flex;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    pointer-events: none;
    background-color: var(--color-primary);
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    user-select: none;
    overflow-y: auto;

    text-shadow: 2px 2px 8px rgba(238, 238, 238, 0.2);
}
.sidebar.open{
    display: flex;
    transform: translateX(0);
    pointer-events: all;
}

.profile-pic{
    width: 60%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    border: 8px solid white;
    box-shadow: 2px 2px 8px rgba(238, 238, 238, 0.2);
}

.nav-link{
    font-size: var(--font-size-large);
    font-family: var(--font-title);
    font-weight: bold;
    text-decoration: none;
    color: var(--color-text-dead);
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-link.active{
    color: #ffffff;
    font-weight: bolder;
}

.content{
    width: 100%;
    display: flex;
    padding: clamp(16px, 4vw, 48px);
    align-items: center;
    color: var(--color-main-text);
}

.content h1{
    font-size: var(--font-size-xl);
    text-transform: uppercase;
}

.content h2{
    font-size: var(--font-size-large);
    text-transform: uppercase;
    margin-bottom: 32px;
}

.content p{
    font-size: var(--font-size-base);
    margin-bottom: 32px;
}

.content p.info{
    font-size: var(--font-size-small);
    color: var(--color-alt-text);
    margin-bottom: 32px;
}

.buttons{
    user-select: none;
    flex-wrap: wrap;
}

.buttons i{
    font-size: var(--icon-base);
    color: gray;
    margin-right: 8px;
}

.buttons i:hover{
    color: var(--color-primary);
}

.accent{
    color: var(--color-primary);
    text-shadow: 2px 2px 8px rgba(60, 195, 173, 0.4);
}
@media (min-width: 768px){ /*desktop*/
    .menu-open{
        display: none;
    }
    .menu-close{
        display: none;
    }

    .sidebar{
        display: flex;
        transform: translateX(0);
        transition: none;
        pointer-events: all;
        position: static;
        width: 20%;
        height: auto;
        box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.2);

        overflow: hidden;
    }
    .sidebar .nav-link{
        transition: transform 0.1s ease-in-out;
    }
    .sidebar .nav-link:hover{
        transform: scale(1.1);
    }
    .profile-pic{
        transition: transform 0.1s ease-in-out;
    }
    .profile-pic:hover{
        transform: scale(1.1);
    }

    .content{
        width: 80%;
    }

    .content .buttons .btn{
        transition: transform 0.1s ease-in-out;
        display: inline-block;
    }
    .content .buttons .btn:hover{
        transform: scale(1.1);
    }
}